elm-stuff
node_modules
dist
.vscode
.idea
.metals/
morphir-ir.json
!tests-integration/cli2-qa-test/test-data/business-terms/morphir-ir.json

morphir-hashes.json
morphir-test-coverage.json
generated/
out/
redistributable/Scala
lib/geneated
cadl-Frontend/cadl-output
docs.json
/.coverage/
tests-integration/reference-model/Dockerfile

# morphir-cli build outputs
morphir-cli/lib/
morphir-cli/Morphir.Elm.CLI.js
morphir-cli/Morphir.Elm.LegacyCLI.js
morphir-cli/Morphir.Elm.DaprCLI.js
morphir-cli/web/index.js
morphir-cli/web/insightapp.js
morphir-cli/web/insight.js
morphir-cli/web/try-morphir.html
morphir-cli/web/valueEditor.js
morphir-cli/web/editor-custom-element.js
morphir-cli/treeview/dist/

.scala-build/
*Debug.log*
tests-integration/cli2-qa-test/test-data/.DS_Store
tests-integration/cli2-qa-test/test-data/business-terms/.DS_Store
*.DS_Store*
